@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  all: unset;
  padding: 16px;
  border: solid 2px #ccc;
  border-radius: 5px;
}

button {
  cursor: pointer;
  text-align: center;
  color: #c4c4c4;
  transition: all 0.25s;
}

button:hover {
  background: #ccc;
  color: #fff;
  transition: all 0.25s;
}
